h1 {
  color: #faf8f1;
  font-size: 20px;
  margin: center;
  text-align: center;
}

.banner {
  padding-bottom: 5px;
  font-size: 20pt;
  background-color: #848788;
  color: #faf8f1;
  display: inline-flex;

}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}
  
  .listView {
    width: 20%;
  }

  #search {
  width: 85%;
  height: 2rem;
  font-size: 1rem;
  }

  .venueList {
      padding: .1rem;
  }

  .listItem {
      list-style: none;
      font-size: 1rem;
      padding: 1rem;
      margin-top: 1rem;
      box-shadow: -5px 1px 12px 3px #888888;
      cursor: pointer;
      
}





